/* ===Commons=== */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    scrollbar-color: rgba(0,0,0,0.5) white;
    scrollbar-width: thin;
}
h1 {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
}
a {
    text-decoration: none;
}
a:link {
    color: #333;
}
.inline-block {
    display: inline-block;    
}
.btn {
    border-radius: 1px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    color: #333333;    
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding: 8px 15px 11px 15px;
}
.btn-green {    
    background-color: #518E6A;
    color: white;
}
.btn-white {    
    background-color: #FFFFFF;
    color: #333333;
}
.wraper {
    position: relative;
    min-height: 100%;
    margin: 60px auto 0px auto;
    max-width: 1280px;    
}
.content {
    padding-bottom: 120px;
    background-color: #FFFFFF;
    max-width: 1280px;
    border-top: 2px solid #518E6A;
    
}
/* ===Commons=== */

/* ===Search-Row=== */
.search {
    margin-left: 30px;
    margin-bottom: 35px;
}
.title {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}

.search-input {
    width: 285px;
    margin-right: 10px; 
    padding: 10px 35px 12px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;    
}
.search-input:focus::placeholder {
    color: transparent;   
}
/* ===/Search-Row=== */

/* === Pseudo-Table=== */
.table-container {
    /* height: 425px;
    overflow-y: auto; */
}
.pseudo-table {
    display: table;
    width: 100%;
    border-spacing: 0px 12px;
    
}
.d-tr {
    display: table-row;
}
.d-th {
    display: table-cell;
    font-weight: 900;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 25px;
}
.d-td {
    display: table-cell;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    padding: 5px 0px 5px 30px;
}
.d-tr:not(.noHover):hover {
    background-color: #F2F2F2;
    color: #3072C4;
    cursor: pointer;
}
/* ===/Pseudo-Table=== */

/* ===Footer=== */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding-bottom: 10px; */
    padding-left: 5px;
    line-height: 20px;
    background-color: #E5E5E5;
    /* padding-top: 10px;
    margin-top: 20px; */
}
.footer-logo {
    float: left;
    margin-right: 5px;
    padding-top: 20px;
}
.footer-content {
    padding-top: 20px;
}
.footer-title, .footer-date {
    display: inline-block;
}
.footer-title {
    font-weight: 900;
    font-size: 16px;
    color: #A1A1A1;
}
.footer-date {
    font-weight: 400;
    font-size: 14px;

    color: rgba(0,0,0,0.37);
}
.footer-other {
color: #A1A1A1;
margin-top: 10px;
margin-left: 30px;
}
/* ===/Footer=== */

/* ===Popup=== */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}
#popup:target {
    visibility: visible;
    opacity: 1;
}
.popup-title {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 400px;
    padding-right: 20px;
}
.popup-close {
    display: inline-block;
    cursor: pointer;

}
.popup-label {
    display: inline-block;
    width: 35%;
    margin-left: 32px;
    color: black;
    
}
.popup-input {
    display: inline-block;
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
}
.popup-input_small {
    width: 25%;
}
.popup-footer {
    background-color: #E9E9E9;
    padding-left: 30px;
}
.popup-content {
    position: fixed;
    top: 25%;
    left: calc(50% - 250px);
    background-color: white;
    width: 500px;
    
    z-index: 1;
    background-color: white;
}
.popup-footer .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);    
}
/* ===/Popup=== */