* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}
.wrapper {
    background-color: white;
    margin: 60px auto 0px auto;
    padding-top: 45px;
    padding-left: 45px;
    max-width: 1200px;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
header > h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #333333;

}

.search-form input {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 10px;
    height: 42px;
    width: 285px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    outline: none;
}
.search-form input::placeholder {
    color: rgba(160,160,160,0.8);
}
.search-form button {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 10px;
    height: 42px;
    background-color: #518E6A;
    color: white;
    border: none;
    margin-right: 10px;
    border: 1px solid #518E6A;
    border-radius: 1px;
    
}
.link {
    display: inline-block;
}

.table {
    
    margin-top: 40px;
    
    
}
.table table {
    width: 100%;
    border-spacing: 7px 11px;    
}
.col-1 {
    width: 80%;
}
.caption-1 {
    
}
.bold {
    font-weight: 900;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E5E5E5;   
}
.footer-content {
    
}
footer .logo {
    width: 22px;
    height: 22px;
}
footer .logo img {
    width: 100%;
    height: 100%;
}
